{% extends 'base.html' %}
{% load static %} 

{% block head %}
	<title>Instruction</title>
	<link rel="stylesheet" href="{% static 'home/css/instructions.css'%}"> 
{% endblock %} 

{% block content %}
	<section>
		<div class="container d-flex align-items-center instructions-main">
			<div class="container mx-auto my-5 instructions-box">
				<div class="mx-auto d-flex justify-content-center shadow heading">
					INSTRUCTIONS
				</div>
				<div class="container mt-5 py-5 shadow">
					<p class="text-white">
						<b>Crack The Code</b>
						<br><br>
						<b>
							Put your business knowledge to test by cracking the code through emoticons, logos, gibberish and much more.
						</b>
						<br><br>	
						This round is just a teaser, and will test your knowledge about different brands. 
						<br><br>
						This round will be conducted on our gaming portal TMC Arcadia, which is our in-house production. The details regarding the same will be shared on the day of the event.
						<br><br>
						There will be a total <b>20 questions</b> in this round, the total duration for the same will be 30mins (out of which 5 mins are allotted towards demo questions.)
						<br><br>
						Categories of questions are as follows:  <b>Advertisements, GIFs, Code, Gibberish, Emojis.</b> 
						<br><br>
						<b>Each category will have 4 sub-questions.</b> 
						<br><br>
						Note: that the answers are <b>lower-case only without spaces</b>. Hence, for example the answer to a question is Ahmedabad University, you are supposed to write it as ahmedabaduniversity. 
						<br><br>
						Note that one member from each team will make an account on the portal with their team name as their username. Once the account for the group is made, the credentials of the same can be shared among other group members. Thereafter, every member can log in using the same credentials and start playing the game. 
						<br><br>
						Scoring: Each right answer gets you +1. No negative marking. Only the right answers will get you to the subsequent questions.
						<br><br>
						Time: Total 30 mins. Initial 5 mins for demo questions. (The sooner you clear the demo question, the better)
						<br>
						The <b>TOP 10 </b>teams at the end of 30 mins will be qualified to play the next round. 
					</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
