body {
    /* background-color: #2D2D2A; */
}
/* #b80b22 */

.question-box {
	border: 2px solid #f5dd04;
	border-radius: 20px;
}

.box-heading {
	background-color: #f5dd04;
	border-radius: 15px;
	color: #b80b22;
	width: 100%;
	font-size: larger;
}

.question-class {
	color: white;
}

.img-class {
	width: 60%;
}

.form-class {
	background-color: #f5dd04;
	border-radius: 15px;	
}

.field, .button {
	width: 100px;
	height: 35px;
	border: 2px solid #b80b22;
	color: #f5dd04;
	border-radius: 10px;
	background-color: #b80b22;
}

.field {
	width: 200px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #f5dd04;
	text-align: center;
	opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #f5dd04;
	text-align: center;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
	color: #f5dd04;
	text-align: center;
}