{% extends 'base.html' %}
{% load static %} 

{% block head %}
<title>Instruction</title>
<link rel="stylesheet" href="{% static 'css/instructions.css'%}"> 
{% endblock %} 

{% block content %}
<h3 style="color: #E6E8E6; text-align:center" class="center-mx mt-5">General Instructions</h3>

<div class="container box center-mx my-5">
    <ol>
        <li>
            Each participant will have to register using a unique username(TEAM NAME) and email(your ahduni email). This would help us in tracking the progress and will also allow the participant to re-login easily in case they log
            out. You can find the detailed instructions for the platform <a href="https://docs.google.com/document/d/1TN4oDmYJH1gVRsgm7yZIbrQ9gIgo3Va8RKHmD98PfCc/edit?usp=sharing
">here</a>.
        </li>
        <li>
            We will have a WhatsApp group formed of the participants where we will be available to answer any of your queries and questions.
            Join the group : <a href="https://chat.whatsapp.com/FcLCb2jmcD7FerLGQAxW0Q">BizHunt Announcements</a> 
        </li>
        <li>
            As the participants log in, they’ll be able to see a question when the hunt begins. Each individual/team will move ahead by answering the business-related questions.
        </li>
        <li>
            A correct answer would unlock the next question, leading the individual/team forward in the game. It is important to note that a participants will only be able to view the next question by correctly answering the first one.
        </li>
        <li>
            Hints for each question will be posted in the aforesaid WhatsApp group after a certain amount of time has passed, so that the participants could move further with the questions. Hints will be unveiled slowly and order-wise.
        </li>
        <li>
            The participants must try to answer the questions as quickly as possible and thus reach to the end of the trivia.
        </li>
        <li>
            There would be a total of 15 questions that an individual/team will have to answer within 2 hours in order to reach the final treasure.
        </li>
        <li>
            The progress of each individual/team will be tracked by our leaderboard which will ensure fair play.
        </li>
        <li>
            The first three individuals/teams to answer the final question will be the winners.
        </li>
</div>

<h3 style="color: #E6E8E6; text-align:center" class="center-mx my-5">Quiz Rules</h3>

<div class="container box center-mx">
    <ol>
        <li>
            This is a “Business” themed Treasure Hunt. Think accordingly!
        </li>
        <li>
            Since this is an Online Treasure Hunt, you are free to roam the virtual world of the
            internet to search for clues. You may also use your brain to roam around though!
        </li>
        <li>
            Since you have been given the liberty to Google, the problems will tend to be
            google-proof. You won’t have an easy time cracking most of the clues. Hence, we have
            decided to give away hints at every step, like charity! But this charity will surely cost you
            something at end because it must be clear that in business everything comes at a price!
        </li>
        <li>
            In order to advance, the team must either give a business concept or an entity-product combination at each level!
        </li>
        <li>
            Even though superficially, in the end, everything is connected!
        </li>
        <li>
            One of the purposes of this event is to instil in you all a certain method of thinking and perceiving your environment. In simple terms, it’s called Lateral Thinking.sed, so that the participants could move further with the questions. Hints will be unveiled slowly and order-wise.
        </li>
    </ol>
</div>
{% endblock %}