{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{% static 'css/leaderboard.css'%}">
{% endblock %}

{% block content %}
        <h2 style="color: white; text-align: ceter; margin-top: 50px">LEADERBOARD</h2>
        <table class="table center-mx">
            <tr style="background-color: white">
                <th> <b>Firstname</b> </th>
                <th> <b>Points</b> </th>
            </tr>
            {% for user in users %}
                {% if forloop.counter|divisibleby:"2" %}
                    <tr class="row_odd">
                        <td>{{user.username}}</td>
                        <td>{{user.get_points}}</td>
                    </tr>
                {% else %}
                    <tr class="row_even">
                        <td>{{user.username}}</td>
                        <td>{{user.get_points}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

{% endblock %}