.heading {
	margin-top: 30px;
	border: 2px solid white;
	color: white;
	background-color: #b80b22;
	width: 320px;
	text-align: center;
	font-size: 36px;
}


.instructions-box {
	background-color: #b80b22;
}

