.leaderboard-main {
	min-height: 80vh;
}

.heading {
	margin-top: 30px;
	border: 2px solid white;
	color: white;
	background-color: #b80b22;
	width: 320px;
	text-align: center;
	font-size: 36px;
}

.table{
	background-color: #d30823;
	/* border: 2px solid white; */
	text-align: center;
}

th {
	height: 72px;
}

.fullname {
	color: #d80925;
}

td {
    word-wrap: break-word;
	max-width: 200px;
	height: 56px;
}