body {
	background-color: #b80b22;
}

.image-box {
	width: 100%;
}

.heading {
	color: #f5dd04;
	font-size: 72px;
}

.underline {
	width: 300px;
	border: 2px solid #f5dd04;
}

.sub-heading {
	color: antiquewhite;
	font-style: italic;
}

.crack-button {
	color: #b80b22;
	background-color: #f5dd04;
	border: 2px solid #f5dd04;
}

.crack-button:hover {
	color: #f5dd04;
	background-color: #b80b22;
}