{% extends 'base.html' %}

{% block head %}
    <title>Congratulations</title>
    <style>
        body {
            background-color: #2D2D2A;
        }

        .congo
        {
            color: #e6e8e6;
            max-width: 95%;
        }

        @media screen and (min-width: 600px) {
        .table {
                max-width: 80%;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid congo" style="min-height:100vh; text-align:justify; padding-top: 50px ">
        <h3>#Respect</h3>
        <br><br>
        Congrats! You are through!
        <br><br>
        But where is the treasure?
        <br><br>
        Well, you came in possession of the treasure the moment you solved through the final cipher. You now possess a new perspective of seeing things, a new method of solving problems and thinking in your life! That's one hell of a treasure to possess!
        <br><br>
        You learned a new skill today - Lateral Thinking! And if you were already good at it, you perhaps became slightly better today!
        <br><br>
        Once again, Congratulations! Winning may or may not be important but learing is always important and beneficial! We hope you enjoyed this online Treasure Hunt!
    </div>
{% endblock%}