.banner {
    min-height: 80vh;
    padding: 30vh 0px 30px 0px;
}

.heading-class {
    color: #E6E8E6;
    font-size: 50px;
}

@media screen and (max-width: 993px) {
    .banner {
        min-height: 100vh;
    }
    .heading-class {
        color: #E6E8E6;
        font-size: 35px;
    }
}

.btn-class {
    border: 2px solid #E6E8E6
}

.btn-class:hover {
    background-color: #2D2D2A;
    color: #E6E8E6;
    transition-duration: 1s;
}

.description {
    background-color: #E6E8E6;
    color: #2D2D2A;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (min-width: 500px) {
    .description_para {
        max-width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 500px) {
    .description_para {
        max-width: 95%;
        margin-left: 2%;
    }
}

.footer {
    background-color: #2D2D2A;
    color: #E6E8E6;
}

.footer a
{
    color: #E6E8E6;
}