body {
    background-color: #2D2D2A;
}

.question_class {
    color: #E6E8E6;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.img_class {
    height: 90vw;
    width: 90vw;
    max-width: 900px;
    max-height: 582px;
}

.field {
    height: 40px;
    margin: 6 0 16 0;
    background-color: whitesmoke;
    color: #2D2D2A;
    border: 2px solid #2D2D2A;
    padding: 16px;
}

.form_class {
    text-align: center;
}

.centerx {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-right: 10px;
}
